
.box{
    height: 190px;
    padding: 8px;
    text-align: center;
}

.box:nth-child(even){
    background-color: #CCCCCC;
}

.box:nth-child(odd){
    background-color: #aaaaaa;
}

.waterUp{
    background: linear-gradient(180deg, #00A3FF 0%, rgba(0, 82, 129, 0.69) 45.98%, rgba(0, 37, 58, 0.83) 78.4%);
    transition: all 1.s;
}